.home {
    padding: 2rem;
  }
  
  .recipe-body {
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
  }
  
  .recipe-list {
    /* display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
  
  .no-recipes {
    text-align: center;
  }
  
  .no-recipes-image {
    max-width: 100%;
    height: auto;
    max-height: 300px; /* Adjust the max height as needed */
  }
  